{% extends 'base.html' %}

{% load static %}

{% block title %}Account - SPADE{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/account_styles.css' %}">
<div class="account-background" style="background-image: url('{% static 'images/account-background.png' %}');">
    <div class="overlay"></div>
    <div class="account-details">
        <h1>Account Information</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <label for="password">Password:</label>
            <div class="password-section">
                <input type="password" id="password" name="password" value="********" readonly>
                <button type="button" onclick="window.location.href='{% url 'password_change' %}'">Change Password</button>
            </div>
            <button type="submit">Update Information</button>
            
            <!-- Display messages -->
            <div class="messages">
                {% if messages %}
                    <ul>
                        {% for message in messages %}
                            <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>

            {% if user.is_staff %}
                <a href="/admin/" class="admin-button">Go to Admin Page</a>
            {% endif %}
        </form>

        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="logout-button">Log Out</button>
        </form>
    </div>
</div>

{% endblock %}
