{% extends 'base_no_header.html' %}

{% load static %}

{% block title %}Change Password - SPADE{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/password_change_styles.css' %}">
<div class="password-change-background" style="background-image: url('{% static 'images/password-change-background.png' %}');">
    <div class="overlay"></div>
    <div class="password-change">
        <h1>Change Password</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Change Password</button>
        </form>
    </div>
</div>
{% endblock %}
