{% extends 'base_no_header.html' %}

{% load static %}

{% block title %}Password Changed - SPADE{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/password_change_styles.css' %}">
<div class="password-change" style="background-image: url('{% static 'images/password-change-background.png' %}');">
    <div class="overlay"></div>
    <div class="account-details">
        <h1>Password Changed Successfully</h1>
        <p>Your password has been successfully updated.</p>
        <a href="{% url 'account' %}" class="btn">Return to Account Page</a>
    </div>
</div>
{% endblock %}
