/* Develop Styling */
.develop-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.develop-container {
    display: flex;
    height: calc(100vh - 150px);
    margin: 125px 25px 25px 25px;
}

.dev-panel {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 20px;
    border-radius: 20px; /* Rounded corners */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dev-panel h2 {
    margin-bottom: 20px;
    text-align: center;
}

.dev-panel .develop-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dev-panel .develop-buttons select {
    padding: 10px;
    background-color: #444;
    color: white;
    border: 0;
    border-radius: 5px;
    max-width: 100px;
    cursor: pointer;
    display: flex;
    flex: 1;
}

.dev-panel .develop-buttons button {
    margin-left: auto;
    padding: 10px;
    background-color: #6d006d;
    border-radius: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.dev-panel button:hover {
    background-color: #a600a6;
}

.game-list {
    overflow-y: auto;
    scrollbar-color: #444 #333;  /* Thumb color and track color */
    flex-grow: 1;
}

.dev-panel ul {
    list-style: none;
    padding: 0;
}

.dev-panel li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #444;
    border-radius: 5px;
    cursor: pointer;
}

.dev-panel li:hover {
    background-color: #555555;
}

.game-view {
    width: 100%;
    padding: 0;
}

.game-view iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}