/* Login Styling */
.login-signup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Centered container for the forms and header */
.container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 125px auto;
    text-align: center;
    color: #ffffff;
}

.container h1 {
    font-size: 4vw;
    margin-bottom: 20px;
    white-space: nowrap;
    width: 100%;  /* Ensure the width spans the container */
    text-align: center;  /* Center the text */
}

/* Form container styling */
.form-container {
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* Tabs for switching between login and signup */
.tabs {
    display: flex;
    justify-content: space-around;
}

.tab {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.tab.active {
    background-color: #a600a6;
    color: white;
}

.tab:hover {
    background-color: #a600a6;
}

/* Form content styling */
.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.form-content form {
    display: flex;
    flex-direction: column;
}

.form-content form label {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.form-content form input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* Style for the instructional text below the input fields */
.form-content form {
    font-size: 0.8vw;  /* Smaller font size for informational text */
    color: #a600a6;  /* Lighter color for informational text */
}

/* If using unordered lists for bullet points */
.form-content form ul {
    padding-left: 20px;  /* Add padding to the left to match the form container's padding */
    margin: 0;
}

/* Style for the submit button */
.form-content form button {
    background-color: #6d006d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    margin-top: 20px;  /* Add margin above the submit button */
}

.form-content form button:hover {
    background-color: #a600a6;
}