/* Reset some basic styles */
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; /* Background color */
}

/* Login Styling */
.login-signup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

/* Centered container for the forms and header */
.container {
    position: relative;
    z-index: 1;
    max-width: 600px;
    margin: 125px auto;
    text-align: center;
    color: #ffffff;
}

.container h1 {
    font-size: 4vw;
    margin-bottom: 20px;
    white-space: nowrap;
    width: 100%;  /* Ensure the width spans the container */
    text-align: center;  /* Center the text */
}

/* Form container styling */
.form-container {
    background-color: hsla(0, 0%, 0%, 0.6);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* Tabs for switching between login and signup */
.tabs {
    display: flex;
    justify-content: space-around;
}

.tab {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
}

.tab.active {
    background-color: #a600a6;
    color: white;
}

.tab:hover {
    background-color: #a600a6;
}

/* Form content styling */
.form-content {
    display: none;
}

.form-content.active {
    display: block;
}

.form-content form {
    display: flex;
    flex-direction: column;
}

.form-content form label {
    color: white;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: block;
}

.form-content form input {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 5px;
    box-sizing: border-box;
}

/* Style for the instructional text below the input fields */
.form-content form {
    font-size: 0.8vw;  /* Smaller font size for informational text */
    color: #a600a6;  /* Lighter color for informational text */
}

/* If using unordered lists for bullet points */
.form-content form ul {
    padding-left: 20px;  /* Add padding to the left to match the form container's padding */
    margin: 0;
}

/* Style for the submit button */
.form-content form button {
    background-color: #6d006d;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 12px;
    margin-top: 20px;  /* Add margin above the submit button */
}

.form-content form button:hover {
    background-color: #a600a6;
}

/* Header styling */
.site-header {
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent black */
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    border-radius: 20px; /* Rounded corners */
    margin: 25px;
    max-height: 75px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main-nav {
    flex: 1;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.main-nav a:hover {
    color: #ff3385; /* Red on hover */
}

/* Centering the logo */
.logo {
    display: flex;
    justify-content: center;
    flex: 1;
}

.logo img {
    width: auto;
    height: 55px;
}

/* Account button on the right */
.account {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.account img {
    width: auto;
    height: 55px;
}

/* Home Styling */
.home-background {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Ensure the video does not overflow the container */
}

.video-background {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw + 100px);  /* Add 100px to width (50px on each side) */
    height: calc(100vh + 150px); /* Add 100px to height (50px on each side) */
    transform: translate(-50%, -50%);
    z-index: -1;
    pointer-events: none; /* Ensures the video doesn't interfere with clicking on content */
    object-fit: fill;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 0;
}

.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 1;
}

.home-text h1 {
    font-size: 5vw;
    font-weight: bold;
    white-space: nowrap;
}

.home-text h2 {
    font-size: 1.5vw; /* Responsive font size based on viewport width */
    margin-top: 10px;
    white-space: nowrap; /* Prevents the text from wrapping */
}

.explore-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 2vw;
    color: white;
    background-color: #6d006d; /* Button background color */
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #a6006d; /* Button background color on hover */
}

/* Account Styling */
.account-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.account-details {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    max-width: calc(100% - 50px); /* Full width minus 50px margin */
    height: calc(100vh - 150px);  /* Full height minus top and bottom margins */
    margin: 125px 25px 25px 25px;
    color: white;
    box-sizing: border-box;
}

.account-details h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

.account-details form {
    margin-bottom: 20px;
}

.account-details label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.account-details input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.account-details button {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.account-details button:hover {
    background-color: #a600a6;
}

.logout-button {
    background-color: #ff3333; /* Red color for logout */
}

.logout-button:hover {
    background-color: #ff0000;
}

.admin-button {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.admin-button:hover {
    background-color: #a600a6;
}

/* Style for the password change section */
.password-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.password-section input {
    flex-grow: 1;
    margin-right: 10px;
}

.password-section button {
    background-color: #6d006d;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.password-section button:hover {
    background-color: #a600a6;
}

/* Catalog Styling */
.catalog-background {
    position: fixed; /* Fixes the background to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Ensures it covers the full viewport height */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Places the background behind the content */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* 60% opacity black overlay */
    z-index: 0;
}

/* Catalog Title */
.catalog-title {
    position: relative;
    text-align: center;
    color: white;
    font-size: 48px;
    font-weight: bold;
    margin-top: 100px; /* Positioning under the header */
    z-index: 1; /* Ensure it stays above the overlay */
}

/* Catalog Styling */
.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); /* Twice the width */
    gap: 20px;
    padding: 20px;
    z-index: 1; /* Ensure it stays above the overlay */
    position: relative;
}

.game-item {
    position: relative;
    background-color: #f4f4f4;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.game-item:hover {
    transform: translateY(-10px);
}

.game-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 2 / 1; /* Enforces a 2:1 aspect ratio */
    object-fit: cover; /* Ensures the image covers the container */
    border-radius: 15px;
}

.game-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 2 / 1;
    background-color: #cccccc;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
}

/* Game Background */
.game-background {
    position: fixed; /* Fixes the background */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2; /* Keeps it behind everything */
}

.overlay {
    position: fixed; /* Fixes the overlay */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6); /* 60% opacity black overlay */
    z-index: -1; /* Keeps it above the background but behind content */
}

/* Layout for the game page */
.game-layout {
    display: flex;
    height: calc(100vh - 100px); /* Adjust height to account for the top margin */
    padding: 20px; /* Padding for the left and right */
    box-sizing: border-box;
    position: relative;
    z-index: 1; /* Keeps it above the overlay */
    margin-top: 100px; /* Add 100px margin at the top */
}

.game-info {
    flex: 1;
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.info-box {
    background-color: rgba(255, 255, 255, 0.8); /* 80% opacity white box */
    padding: 20px;
    border-radius: 10px;
    color: black; /* White text color */
    text-align: center;
}

.game-info h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.game-info p, .game-info h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

.game-container {
    flex: 3;
    margin-left: 20px;
    background-color: #000; /* Black background for the game area */
    border-radius: 10px;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: calc(100vh - 140px); /* Ensure the game container fits within the viewport */
}

.game-container canvas {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* Ensures the game canvas scales properly */
}

/* Adjusted Fullscreen mode for the game container */
.fullscreen {
    position: absolute; /* Use absolute positioning within the container */
    top: 100px; /* Maintain the top margin in fullscreen mode */
    left: 20px;
    right: 20px;
    bottom: 20px;
    margin: 0;
    border-radius: 10px; /* Retain some rounding for a polished look */
    z-index: 3; /* On top of everything */
    background-color: #000; /* Ensure the background stays black */
}

.hidden {
    display: none;
}

.fullscreen-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 4; /* Make sure it's above the game */
}

.fullscreen-btn.active {
    background-color: rgba(204, 0, 0, 0.8); /* Change color in fullscreen mode */
}
