/* Account Styling */
.account-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: -2;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

.account-details {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    border-radius: 10px;
    max-width: calc(100% - 50px); /* Full width minus 50px margin */
    height: calc(100vh - 150px);  /* Full height minus top and bottom margins */
    margin: 125px 25px 25px 25px;
    color: white;
    box-sizing: border-box;
}

.account-details h1 {
    margin-bottom: 30px;
    font-size: 28px;
    text-align: center;
}

.account-details form {
    margin-bottom: 20px;
}

.account-details label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

.account-details input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.account-details button {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.account-details button:hover {
    background-color: #a600a6;
}

.logout-button {
    background-color: #ff3333; /* Red color for logout */
}

.logout-button:hover {
    background-color: #ff0000;
}

.admin-button {
    background-color: #6d006d;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
}

.admin-button:hover {
    background-color: #a600a6;
}

/* Style for the password change section */
.password-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.password-section input {
    flex-grow: 1;
    margin-right: 10px;
}

.password-section button {
    background-color: #6d006d;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.password-section button:hover {
    background-color: #a600a6;
}